[Unit]
Description=Pulp stack (main target)
Wants=pulp-volume.service pulp-migration.service pulp-signing-key.service pulp-set-init-password.service pulpnet-network.service pulp-web.service
Wants=pulp-apis.target pulp-contents.target pulp-workers.target

After=network-online.target pulp-volume.service pulp-migration.service pulp-signing-key.service pulp-set-init-password.service pulpnet-network.service pulp-workers.target

Requires=pulp-web.service

[Install]
WantedBy=default.target
