[Unit]
Description=Pulp Worker (%i)
PartOf=pulp-workers.target
BindsTo=pulp-workers.target
After=pulp-set-init-password.service
Requires=pulp-set-init-password.service

[Service]
Restart=on-failure
RestartSec=60s
CPUQuota=200%
MemoryHigh=4G
MemoryMax=6G
MemorySwapMax=16G

[Container]
Image=quay.io/pulp/pulp-minimal:latest
Exec=pulp-worker
User=700
HostName=pulp-worker-%i
LogDriver=journald
LogOpt=tag={{.Name}}
UserNS=keep-id:uid=700,gid=700
Network=pulpnet.network

# Volumes
Volume=/home/pulp/pulp/assets/settings.py:/etc/pulp/settings.py:z
Volume=/home/pulp/pulp/assets/certs:/etc/pulp/certs:z
Volume=pulp.volume:/var/lib/pulp

[Install]
WantedBy=pulp-workers.target
