[Unit]
Description=Pulp set initial password (oneshot)
After=pulp-migration.service
Requires=pulp-migration.service
PartOf=pulp.target

[Service]
Type=oneshot
RemainAfterExit=yes
Restart=no

[Container]
Image=quay.io/pulp/pulp-minimal:latest
Exec=set_init_password.sh
User=700
Environment=PULP_DEFAULT_ADMIN_PASSWORD=<your-admin-password>
LogDriver=journald
LogOpt=tag={{.Name}}
UserNS=keep-id:uid=700,gid=700
Network=pulpnet.network

# Volumes
Volume=/home/pulp/pulp/assets/settings.py:/etc/pulp/settings.py:z

Volume=/home/pulp/pulp/assets/certs:/etc/pulp/certs:z

Volume=pulp.volume:/var/lib/pulp

[Install]
WantedBy=pulp.target
