[Unit]
Description=Pulp DB migration (oneshot)
Wants=network-online.target
After=network-online.target
PartOf=pulp.target

[Service]
Type=oneshot
RemainAfterExit=yes
Restart=no

[Container]
Image=quay.io/pulp/pulp-minimal:latest
Exec=pulpcore-manager migrate --noinput
User=700
LogDriver=journald
LogOpt=tag={{.Name}}
UserNS=keep-id:uid=700,gid=700
Network=pulpnet.network

# Volumes
Volume=/home/pulp/pulp/assets/settings.py:/etc/pulp/settings.py:z

Volume=/home/pulp/pulp/assets/certs:/etc/pulp/certs:z

[Install]
WantedBy=pulp.target
