[Unit]
Description=Pulp Worker (%i)
PartOf=pulp-workers.target
BindsTo=pulp-workers.target
After=pulp-set-init-password.service
Requires=pulp-set-init-password.service

[Service]
Restart=on-failure
RestartSec=60s
CPUQuota=200%
MemoryHigh=4G
MemoryMax=6G
MemorySwapMax=16G

[Container]
Image={{ image_source }}/pulp/pulp-minimal:{{ pulp_version }}
Exec=pulp-worker
User=700
HostName=pulp-worker-%i-{{ inventory_hostname }}
LogDriver=journald
LogOpt=tag={{ '{{.Name}}' }}
UserNS=keep-id:uid=700,gid=700
Network=pulpnet.network

# Volumes
Volume={{ pulp_host_dir }}/assets/settings.py:/etc/pulp/settings.py:z
Volume={{ pulp_host_dir }}/assets/certs:/etc/pulp/certs:z
Volume={{ pulp_host_nfs_mountpoint }}:/var/lib/pulp:z

[Install]
WantedBy=pulp-workers.target
