[Unit]
Description=Pulp set initial password (oneshot)
After=pulp-migration.service
Requires=pulp-migration.service
PartOf=pulp.target

[Service]
Type=oneshot
RemainAfterExit=yes
Restart=no

[Container]
Image={{ image_source }}/pulp/pulp-minimal:{{ pulp_version }}
Exec=set_init_password.sh
User=700
Environment=PULP_DEFAULT_ADMIN_PASSWORD={{ pulp_admin_password }}
LogDriver=journald
LogOpt=tag={{ '{{.Name}}' }}
UserNS=keep-id:uid=700,gid=700
Network={{ pulp_quadlet_network_name }}.network

# Volumes
Volume={{ pulp_host_dir }}/assets/settings.py:/etc/pulp/settings.py:z
Volume={{ pulp_host_dir }}/assets/certs:/etc/pulp/certs:z
Volume=pulp.volume:/var/lib/pulp

[Install]
WantedBy=pulp.target
