[Unit]
Description=Pulp worker target
After=pulp-set-init-password.service
Requires=pulp-set-init-password.service
PartOf=pulp.target
Wants={% for i in range(1, pulp_worker_replicas + 1) -%}
pulp-worker@{{ i }}.service{% if not loop.last %} {% endif %}
{%- endfor %}


[Install]
WantedBy=pulp.target
